html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: Segoe UI;
}
textarea,
select,
input,
button {
	font-family: Segoe UI;	
}
.main-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	z-index: 10;
	box-sizing: border-box;
	padding: 20px;
	user-select: none;

	& > div {
		width: 200px;
		border: 1px solid #ddd;
		background-color: #eee;
		margin-bottom: 6px;
		cursor: pointer;
		border-radius: 5px;
		padding: 6px 10px;

		&.active {
			background-color: #555 !important;
			color: #fff;
			border-color: #555;
		}
		&:hover {
			background-color: #ddd;
		}
	}
}
.main-content {
	padding: 30px 30px 30px 320px;
	max-width: 1200px;
}
.mapper {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	.mapper-name {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 15px;
		padding: 6px 15px;
		background-color: #f1f1f1;
	}

	.uiex-checkbox {
		margin-right: 20px;
	}
}